<h1>Users data</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Password</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.name%></td>
      <td><%= user.password%></td>
      <td><%= link_to  "show user", user %></td>
    </tr>
    <% end %>

  </tbody>
</table>
