<h2><%= @user.name%></h2>
<h2><%= @user.password%></h2>

<%= link_to  "edit user", edit_user_path(@user) %>
<%= link_to  "delete user", user_path(@user), method: :delete, data: {confirm: "are yoy sure?"} %>
